/* 
Como estamos trabajando con Bootstrap, se requiere !important para sobreescribir el estilo predeterminado
*/

/*Cambio en el body para tener color negro de fondo y un */
body {
    background-color: #030213;
}

/*Cambio de color de texto en el primer section*/
#tit-page {
    color: white;
}

.lead {
    color: white;
}

/*Se inserta imagen con un color de fondo en gradiente linear para el primer section*/
#headersec{
    background:
      linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
      url('./PIC/atletauno.jpg') center/cover no-repeat;
}

/*Cambio de color para membresias*/
.py-5 {
    color: white; 
}

#membresias {
    background-color: #b70d2f !important;
}

/*Cambio de color para letra y fondo en Productos Destacados*/
#productos{
    background-color: oklch(0.145 0 0) !important;
    color: white;
}

/*Cambio de propiedades en todos los botones usados*/
.btn {
    background-color: #d4183d;
    color: white;
}

.btn:hover {
    background-color: oklch(0.646 0.222 41.116);
}

/*Cambio de color de fondo en footer y header*/
.bg-black {
    background-color: #191919 !important;
}

/*Cambio de propiedades en iconos del footer*/
.propio-a {
    width:45px;
    height:45px;
    background:#1a1a1a;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
}

/*Cambio de formato en registro.html*/
h3 {

    color:  oklch(0.646 0.222 41.116);

}